.series-container {
  /* background-color: red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}

.series {
  margin-bottom: 20px;
}

.series img {
  width: 100%;
}
