.series-container {
  /* background-color: red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}

.series {
  margin-bottom: 20px;
  transition: all ease-in-out 0.4s;
}

.series:hover {
  transform: scale(1.05);
}

.series img {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .series-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
