.single-movie-container img {
  width: 60% !important;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 7px;
  max-width: 350px;
}

.trailer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  /* background-color: rebeccapurple; */
}

.trailer-container h4 {
  margin-bottom: 10px;
  align-self: flex-start;
}

.trailer-container p {
  align-self: flex-start;
}

.single-movie-container {
  padding: 0 10px !important;
}

.full-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.all-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.single-movie-container h3 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 20px;
}

.overview {
  text-align: left;
  line-height: 25px;
}

.casts-container {
  /* background-color: red; */
  display: flex;
  width: 100%;
  /* padding: 10px; */
  align-items: flex-start;
  margin-top: 10px;
  flex-direction: column;
  margin-bottom: 30px;
}

.casts-wrapper {
  /* width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.casts-container h4 {
  margin-bottom: 10px;
}

.cast-name {
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  /* margin-bottom: 10px; */
}

.great {
  background-color: green;
  color: white;
  padding: 2px 9px;
  border-radius: 3px;
}
.good {
  background-color: rgb(180, 102, 0);
  padding: 2px 9px;
  border-radius: 3px;
  color: white;
}
.bad {
  background-color: rgb(180, 0, 0);
  color: white;
  padding: 2px 9px;
  border-radius: 3px;
}

.tagline {
  margin-bottom: 20px;
  color: #86888d;
  font-size: 0.9rem;
}

.movie-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: red; */
  width: 100%;
  justify-items: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.movie-stat p {
  font-weight: 600;
  font-size: 0.8rem;
}

.movie-stats h5 {
  color: #86888d;
  margin-bottom: 5px;
}

.movie-stat {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.overview-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.overview-container h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.link {
  background-color: #5a6a90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 160px;
  height: 44px;
  text-decoration: none !important;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.links-container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

@media screen and (min-width: 775px) {
  .all-movie {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 30px;
    justify-items: center;
  }

  .all-movie img {
    align-self: start;
    width: 85% !important;
    margin: unset;
  }
  .full-movie {
    align-items: flex-start !important;
  }

  .movie-stats {
    justify-items: flex-start !important;
    font-size: 1.2rem;
  }
  .full-movie h3 {
    text-align: left !important;
    font-size: 2.7rem;
    font-weight: 400 !important;
  }
  .tagline {
    font-size: 1.1rem;
  }
  .links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: unset;
  }
  .link {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1020px) {
  .all-movie {
    width: calc(100% - 140px) !important;
    position: absolute;
    right: 0;
  }
  .full-movie {
    justify-self: flex-start;
  }
  .full-movie h4 {
    font-size: 1.3rem;
  }
  .single-movie-container img {
    max-width: unset !important;
  }
}
@media screen and (min-width: 1150px) {
  .all-movie {
    grid-template-columns: 40% 60%;
  }

  .single-movie-container img {
    width: 75% !important;
  }
}
