* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.title-container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  padding: 0 10px;
  flex-direction: column;
  margin-bottom: 15px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  margin: 20px 0;
}

.page button {
  margin: 0 7px;
  width: 50px;
  font-weight: 600;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(134, 130, 212);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 775px) {
  .title-container {
    font-size: 1.4rem;
    font-weight: 300;
  }
}
